<div class="auth-container">
  <div class="auth-form-container">
    <form [formGroup]="authForm">

      <img src="assets/images/fotc.svg" alt="FOTC">

      <label>Username: </label>

      <input type="text" placeholder="Enter name" name="name" autocomplete="off"
             formControlName="name"
             [ngClass]="{'text-invalid': utils.invalidField(authForm, 'name')}">

      <label>Password: </label>

      <input type="text" placeholder="Enter your key" name="key"
             formControlName="key"
             [ngClass]="{'text-invalid': utils.invalidField(authForm, 'key')}">

      <button type="button" class="base-btn"
              (click)="setLogin()"
              [disabled]="authForm.invalid"
              [ngClass]="{'valid-btn': authForm.valid}">Login</button>
    </form>
  </div>
</div>
